@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");

:root {
  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%);
}

*,
*::before,
*::after {
  font-family: "League Spartan", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  pointer-events: none;
}

a {
  text-decoration: none;
}

body {
  height: 100vh;
}

#top,
#bottom {
  display: flex;
}

#top {
  height: 65%;
}

.main-image {
  width: 60%;
  background: url("../images/desktop-image-hero-1.jpg") no-repeat center
    center/cover;
  transition: 0.5s ease-in-out;
}

.navigation {
  display: flex;
  align-items: center;
  padding: 3.125rem 0 0 3.9063rem;
}

.overlay {
  display: none;
}

.mobile-navigation {
  display: none;
}

.toggle-menu {
  display: none;
}

.logo {
  margin-right: 3.125rem;
}

.nav-items {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-items li {
  margin-right: 1.5625rem;
  position: relative;
}

.nav-items li:last-child {
  margin-right: 0;
}

.nav-items li a {
  color: var(--white);
  font-weight: 600;
  pointer-events: all;
  cursor: pointer;
}

.hover-line,
.mobile-hover-line {
  display: none;
  width: 1.25rem;
  height: 0.125rem;
  background-color: var(--white);
  position: absolute;
  bottom: -55%;
  left: 22.5%;
}

.nav-items li:nth-of-type(3) .hover-line {
  left: 26%;
}

.nav-items li:last-child .hover-line {
  left: 28%;
}

.intro-section {
  width: 40%;
  padding: 0 6.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.intro-section-title {
  font-size: 2.5rem;
  margin-bottom: 1.5625rem;
}

.description {
  font-size: 0.9375rem;
  color: var(--dark-gray);
  line-height: 1.5;
}

.intro-section .description {
  margin-bottom: 1.5625rem;
}

.shop-now-btn {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.625rem;
  font-size: 1rem;
  color: var(--black);
  pointer-events: all;
  cursor: pointer;
}

.icon-arrow-hover {
  display: none;
}

.shop-now-btn:hover {
  color: var(--dark-gray);
}

.shop-now-btn:hover .icon-arrow {
  display: none;
}

.shop-now-btn:hover .icon-arrow-hover {
  display: inline-block;
}

.slider {
  width: 25%;
  height: 4.8438rem;
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  left: 0;
}

.mobile-slider {
  display: none;
}

.btn {
  width: 50%;
  height: 100%;
  background-color: inherit;
  pointer-events: all;
  cursor: pointer;
  border: none;
  outline: none;
}

.btn:hover {
  background-color: var(--very-dark-gray);
}

#bottom {
  height: 35%;
}

.image {
  height: 100%;
}

.image-left {
  background: url("../images/image-about-dark.jpg") no-repeat center center/cover;
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-section-title {
  text-transform: uppercase;
  letter-spacing: 0.4688rem;
  font-size: 1rem;
  width: 83%;
  margin: 0 auto 0.9375rem;
}

.about-section .description {
  width: 83%;
  margin: 0 auto;
}

.image-right {
  background: url("../images/image-about-light.jpg") no-repeat center center/cover;
}

@media screen and (max-width: 50.625rem) {
  #top,
  #bottom {
    flex-direction: column;
    height: 100%;
  }

  .main-image,
  .intro-section,
  .image,
  .about-section {
    width: 100%;
  }

  .main-image {
    height: 50%;
    background: url("../images/mobile-image-hero-1.jpg") no-repeat center
      bottom/cover;
    position: relative;
  }

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .toggle-menu {
    display: block;
    pointer-events: all;
    cursor: pointer;
  }

  .nav-items {
    display: none;
  }

  .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--black);
    opacity: 0.7;

    display: none;
  }

  .mobile-navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6.25rem;
    background: var(--white);
    animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;

    display: none;
  }

  /* ----------------------------------------------
 * Generated by Animista on 2022-12-25 16:50:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

  /**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
  @-webkit-keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
      transform: rotateX(-100deg);
      -webkit-transform-origin: top;
      transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
      transform: rotateX(0deg);
      -webkit-transform-origin: top;
      transform-origin: top;
      opacity: 1;
    }
  }

  @keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
      transform: rotateX(-100deg);
      -webkit-transform-origin: top;
      transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
      transform: rotateX(0deg);
      -webkit-transform-origin: top;
      transform-origin: top;
      opacity: 1;
    }
  }

  .close-menu {
    pointer-events: all;
    cursor: pointer;
  }

  .mobile-nav-items {
    list-style: none;
    display: flex;
  }

  .mobile-nav-items li {
    pointer-events: all;
    cursor: pointer;
    margin-right: 1.5625rem;
    position: relative;
  }

  .mobile-nav-items li:last-child {
    margin-right: 0;
  }

  .mobile-nav-items li a {
    pointer-events: all;
    cursor: pointer;
    color: var(--black);
  }

  .mobile-hover-line {
    background-color: var(--black);
  }

  .mobile-nav-items li:nth-of-type(3) .mobile-hover-line {
    left: 26%;
  }

  .mobile-nav-items li:last-child .mobile-hover-line {
    left: 28%;
  }

  .intro-section {
    height: 50%;
    padding: 0 3.125rem;
  }

  .intro-section-title {
    font-size: 1.875rem;
    margin-bottom: 0.9375rem;
  }

  .intro-section .description {
    margin-bottom: 2.1875rem;
  }

  .desktop-slider {
    display: none;
  }

  .mobile-slider {
    width: 9rem;
    display: flex;
    position: absolute;
    left: auto;
    right: 0;
    bottom: 0;
  }

  .about-section {
    padding: 3.125rem 1.875rem;
  }

  .about-section-title,
  .about-section .description {
    width: 100%;
  }

  .about-section-title {
    line-height: 1.5;
  }

  .about-section .description {
    margin: 0;
  }
}

@media screen and (max-width: 17.5rem) {
  .intro-section {
    padding: 1.5625rem;
  }

  .intro-section-title {
    font-size: 1.5625rem;
  }

  .description {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 50.6875rem) and (max-width: 78.125rem) {
  .intro-section {
    padding: 0 3.125rem;
  }

  .intro-section-title,
  .intro-section .description {
    margin-bottom: 0.7813rem;
  }

  .intro-section-title {
    font-size: 2rem;
  }

  .shop-now-btn {
    font-size: 0.8125rem;
  }

  .desktop-slider {
    height: 2.8125rem;
  }

  .about-section-title {
    font-size: 0.6875rem;
    margin-bottom: 0.625rem;
  }
}